
.header {
    background: $purple;
    border-bottom: $border-width solid $white;
    padding: 1em;
  
     nav {
      float: right;
  
       ul {
        list-style-type: none;
        padding: 0;
      }
  
      li {
        display: inline-block; 
      }
  
      a {
        background: $blue;
        border-radius: $border-radius;
        color: $tan;
        display: block;
        margin-right: 1em;
        padding: .5em 1em;
        text-decoration: none;
  
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          background-color: $dark-blue;
        }
      }
    }
  
    h1 {
      color: $blue;
      font-family: $logo-font-family;
      font-size: 3em;
      margin: .25em 0;
      text-shadow: 1px 1px 0px $beige;
    }
  }